@model HarveyJobs.Models.tbScheduledJob

<table>
    <tr>
        <td>
            @Model.Time
        </td>
    </tr>
    <tr>
        <td>
            @Model.Success
        </td>
    </tr>
    <tr>
        <td>
            @Model.Files_DwUp Files Uploaded
        </td>
    </tr>
    <tr>
        <td>
            @Model.Files_Sorted Files Sorted
        </td>
    </tr>

</table>